<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muk Connect</title>

<style>
  *{
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 0px;
  }
    .cool-nav {
  background-color: #2ecc71; /* Nice green color */
  list-style: none; /* Remove default bullet points */
  padding: 10px 20px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the links horizontally */
}

.cool-nav li {
  display: inline-block; /* Display links inline */
  margin: 0 15px; /* Add space between links */
}

.cool-nav a {
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease-in-out; /* Smooth hover effect */
}

.cool-nav a:hover {
  color: #1f8b41; /* Darker green on hover */
}


.black-footer {
  background-color: black;
  color: white; /* White text for contrast */
  padding: 20px;
  text-align: center; /* Center the content horizontally */
}

.messages{
  display: block; /* Make elements fill the full width */
  width: 100%; /* Set width to 100% of the form */
  text-align: center; /* Center text content within each element */
  margin-bottom: 1px; /* Add some space between elements */
  color: Red;
  font-size: large;
}


</style>

</head>
<body>
    <nav class="cool-nav">
        {%if user.is_authenticated%}
        <ul>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'booking'%}">Bookings</a></li>
          <li><a href="{% url 'logout'%}">Logout</a></li>
          {%else%}
          <li><a href="{% url 'login'%}">Login</a></li>
          <li><a href="{%url 'signup'%}">Sign Up</a></li>
        </ul>
        {%endif%}
      </nav>

      {%for message in messages%}
      <div class="messages">
        {{message}}
      </div>
     
      {%endfor%}
      

    {% block content%}

    {% endblock %}

    <!-- <footer class="black-footer">
        <p>© 2024 Muk Connect</p>
        </footer> -->
      
    
</body>
</html>