{% extends 'base/base.html'%}
{% block content%}

<style>
    a{
        text-decoration: none;
        
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100vh;
        padding: 20px;
    }
    .left {
        flex: 1;
        background-color: #f2f2f2;
        padding: 20px;
    }
    .middle {
        flex: 2;
        background-color: #e0e0e0;
        padding: 20px;
    }
    .right {
        flex: 1;
        background-color: #d3d3d3;
        padding: 20px;
    }
    .middle {
    flex: 2;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.middle h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.middle p {
    font-size: 16px;
    margin-bottom: 10px;
}

.middle button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.middle button:hover {
    background-color: #45a049;
}
.middle img {
    width: 170px; /* Adjust the maximum width as needed */
    height: 150px; /* Adjust the maximum height as needed */
    margin-bottom: 10px; /* Add some margin below each image */
    margin-right: 15px;
}
.room-types {
    margin-top: 20px; /* Add some top margin for spacing */
}

.room-types h3 {
    font-size: 18px;
    margin-bottom: 10px; /* Add some bottom margin to the heading */
}

.room-types ul {
    list-style-type: none; /* Remove default list styles */
    padding-left: 0; /* Remove default left padding */
}

.room-types li {
    margin-bottom: 5px; /* Add some bottom margin between each list item */
    font-size: 16px;
}

</style>


<div class="container">
    <div class="left">
        <h2>University</h2>
        {% for university, areas_hostels in university_areas_hostels.items %}
        <h2>{{ university.name }}</h2>
        {% for area, hostels in areas_hostels.items %}
            <h3>{{ area.name }}</h3>
            <ul>
            {% for hostel in hostels %}
            <a href="{%url 'booking'%}?q={{hostel.name}}"><li>{{ hostel.name }}- {{ hostel.free_rooms }} free rooms</li></a>
                
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
    

        
    </div>
    
    <div class="middle">
        <!-- Middle Content -->
        <h3>Images</h3>
            {% if selected_hostel.image_1 %}
                <img src="{{ selected_hostel.image_1.url }}" alt="Image 1">
            {% endif %}
            {% if selected_hostel.image_2 %}
                <img src="{{ selected_hostel.image_2.url }}" alt="Image 2">
            {% endif %}
            {% if selected_hostel.image_3 %}
                <img src="{{ selected_hostel.image_3.url }}" alt="Image 3">
            {% endif %}
        {% if selected_hostel %}
            <h2>{{ selected_hostel.name }}</h2>
            <p>Area: {{ selected_hostel.area }}</p>
            
            <p>Mtn Contact: {{ selected_hostel.mtn_contact }}</p>
            <p>Airtel Contact: {{ selected_hostel.airtel_contact }}</p>
            <p>Email: {{ selected_hostel.email }}</p>
            <p>Free rooms: {{ selected_hostel.free_rooms}}</p>
            <a href=""><button>More details</button></a>
            
            <h3 class="room-types">Room Types</h3>
<ul class="room-types">
    {% for room in selected_hostel.room_set.all %}
        <li>Room Number: {{ room.room_number }}</li>
        <li>Capacity: {{ room.capacity }}</li>
        <li>Price: {{ room.price }}</li>
        <li>Booking Fee: {{ room.booking_fee }}</li>
        <li>Self Contained: {% if room.is_self_contained %}Yes{% else %}No{% endif %}</li>
        <li>Occupied: {% if room.is_occupied %}Yes{% else %}No{% endif %}</li>
        <li>Available bed spaces: {{ room.available_bed_spaces }}</li>
        
        <div><button>Book Now</button></div>
    {% endfor %}
</ul>

            
            
        {% else %}
            <h2>No hostel selected</h2>
        {% endif %}
    </div>
    
    <div class="right">
        <h2>Right Content</h2>
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi error deleniti, praesentium quibusdam labore commodi molestias omnis doloribus quisquam unde illum numquam dolorem nisi molestiae illo officia optio dolores magnam.</p>
        
    </div>
</div>



{%endblock%}