{% extends 'base/base.html'%}
{% block content%}

<style>
    .signup-form {
  margin: 0 auto; /* Center horizontally */
  padding: 20px; /* Add some padding */
  border: 1px solid #ddd; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
  background-color: #f1f1f1; /* Optional: Add a background color */
  max-width: 400px; /* Optional: Set a maximum width */
 
}

.signup-form label,
.signup-form input[type="text"],
.signup-form input[type="password"]
 {
  display: block; /* Make elements fill the full width */
  width: 100%; /* Set width to 100% of the form */
  text-align: center; /* Center text content within each element */
  margin-bottom: 5px; /* Add some space between elements */
}
button{
    background-color: rgb(23, 181, 71);
    height: 50px;
    width: 100%;
    border-radius: 8px;
    margin-left: 4px;
    cursor: pointer;
    border: none;
    transition: opacity 0.5s;
}

button:hover{
    opacity: 0.8;
}

.signup-form input[type="text"],
.signup-form input[type="password"]{
    height: 30px;
    border-radius: 20px;
}
.signup-form label{
    font-size: x-large;
    font-weight: bolder;
}
p{
    display: block; /* Make elements fill the full width */
  width: 100%; /* Set width to 100% of the form */
  text-align: center; /* Center text content within each element */
  margin-bottom: 10px; /* Add some space between elements */  
  font-size: large;
    font-weight: bolder;
}


</style>
<br>

<div class="signup-form">
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Sign Up</button>
        <p>Already have an Account <a href="{%url 'login'%}">Login</a></p>
    </form>
    
</div>
<br><br><br><br>
{%endblock%}